{{> header }}
<div class="container">
    {{#each results}}
        <h3>{{this.name}}</h3>
        <h4>{{this.article.[0].time}}</h4>
        
        {{#each this.article.[0].data}}
        
        <table class="u-full-width">
            <thead>
                <tr>
                    <th>Link</th>
                    <th>availableKeywords</th>
                    <th>source</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="{{this.anchorLink}}"> {{{this.anchorText}}} </a>
                    </td>
                    <td>{{this.availableKeywords}}</td>
                    <td>{{this.source}}</td>
                </tr>
            </tbody>
        </table>
        {{/each}}        
    {{/each}}

</div>